/* Empty. Add your own CSS if you like */
.top{
  background-color: #009688;
}

.title{
  color: white;
}

.icon{
  color:white;
}

.completed{
  color: #9e9e9e;
  text-decoration: line-through;
}
.uncompleted{
  color: black;
  text-decoration: none;
}

.mdl-button--floating-action {
  position: fixed;
  right: 24px;
  bottom: 24px;
  padding-top: 24px;
  margin-bottom: 0;
  z-index: 998;
}
